#meta.col-xs-12
  .col-xs-3
    img(src="#{cover_art_url}")
  .col-xs-9
    .text.col-xs-12
      span.artist "#{artist_name}""
    .text.col-xs-12
      span.track "#{album_title}""
    .text.col-xs-12
      span.track "#{track_title}""
